@page "/counter"

<PageTitle>Counter</PageTitle>
<style>
    a-scene {
        height: 300px;
        width: 600px;
    }
</style>
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">BIGGER</button>
<button class="btn btn-primary" @onclick="DecrementCount">smaller</button>

<div id="myEmbeddedScene">
    <a-scene embedded>
        <a-box position="-1 0.5 -3" rotation="0 45 0"
               material="src: https://cerkit.com/content/images/size/w1600/2022/07/dark-wood-texture-seamless-ideas-4-1.jpeg"></a-box>
        <a-sphere position="0 1.25 -5" radius="@currentCount" color="purple" material="src: https://youtu.be/IlDPuyMXZmM"></a-sphere>
        <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
        <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4" material="transparent: true; opacity: 0.5;"></a-plane>
        <a-sky color="#ECECEC" src="https://cerkit.com/content/images/size/w1600/2022/07/PaddockLanePanorama.png"></a-sky>
    </a-scene>
</div>

@code {
    private decimal currentCount = 0.2M;

    private void IncrementCount()
    {
        currentCount += 0.2M;
    }

    private void DecrementCount()
    {
        currentCount -= 0.2M;
    }
}

