@page "/"

<PageTitle>Index</PageTitle>

<h1>Blazor + WebXR</h1>

<p>Click on the Counter link to see WebXR (VR) in action using Blazor.</p>

<p>If you would like to contribute to this project, pease fill out this short questionnaire.</p>

<iframe width="640px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=dwgkWkgaH0STTwoPf1ZT6GI45VDJMYtFtQXcx3izSMhUOUpWMldSN1A4U0VTWklUQTFFRjNONEhGSy4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>

