@page "/"

<PageTitle>Index</PageTitle>

<h1>Blazor + WebXR</h1>

<p>Click on the Counter link to see WebXR (VR) in action using Blazor.</p>

<p>If you would like to contribute to this project, please visit our <a href="https://github.com/cerkit/BlazorXR">GitHub repo</a></p>